* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background: white;
}

header nav {
  padding-top: .7em;
  padding-bottom: .7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .izq {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .izq img {
  max-width: 70px;
}

header nav .izq i,
header nav .izq input,
header nav .izq img {
  margin: 0.5em;
}

header nav .izq input {
  opacity: .5;
  background: #f7f7f7;
  border-radius: 1px;
  border: 1px solid rgba(128, 128, 128, 0.158);
  padding: 0.6em 12em 0.6em 1em;
  font-family: "Arial";
  font-size: 0.8em;
  color: rgba(167, 167, 167, 0.315);
}

header nav .izq i {
  position: relative;
  left: -2.6em;
  font-size: 1em;
  opacity: .6;
}

header nav .der {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav .der button.icon {
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em;
  background: transparent;
  border-color: transparent;
}

header nav .der button.icon p {
  position: relative;
  top: 0.25em;
  padding: 1%;
  padding-left: .4em;
}

header nav .der button.icon i {
  position: relative;
  left: 0.4em;
  top: 1em;
  font-size: .8em;
}

header nav .der button.iniciarsesion {
  margin-left: 1em;
  padding: .8em;
  background-color: transparent;
  border-color: transparent;
  color: grey;
}

header nav .der button.shop {
  background-color: transparent;
  border-color: transparent;
  padding: 0 0.8em 0 0.8em;
  color: #FE9387;
  font-size: 1.5em;
}

section#main .img {
  width: 100%;
}

section#main .img img {
  width: 100%;
  max-height: 300px;
}

section#destacado {
  padding: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#destacado .caja {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#destacado .caja span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Varela Round";
  font-weight: 700;
  font-size: 1em;
}

section#destacado .caja span p {
  font-weight: 300;
  font-size: 0.8em;
}

section#destacado .caja img {
  max-height: 40px;
  padding-right: .8em;
}

section#ofertas {
  padding: 1%;
}

section#ofertas hr {
  width: 99.6%;
  margin: auto;
  opacity: .4;
}

section#ofertas .padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3em;
}

section#ofertas .padre .caja {
  width: 25%;
  text-align: center;
}

section#ofertas .padre .caja .img {
  text-align: center;
}

section#ofertas .padre .caja p {
  font-family: "Varela Round";
  font-size: 0.7em;
  color: #F44563;
  text-align: center;
}

section#ofertas .padre .caja p.precio {
  font-weight: bold;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#ofertas .padre .caja p.precio span {
  text-decoration: line-through;
  margin-left: 1em;
  opacity: .7;
  font-size: 0.8em;
}

section#ofertas .padre .caja .producto {
  color: black;
  opacity: .8;
}

section#ofertas .titulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.2em;
}

section#ofertas .titulos .izq {
  margin-right: 1em;
}

section#ofertas .titulos .izq img {
  max-width: 75px;
}

section#ofertas .titulos .der h5 {
  font-size: 1.5em;
  font-family: "Varela Round";
}

section#ofertas .titulos .der p {
  font-family: "Varela round";
}
/*# sourceMappingURL=css.css.map */